BROKER_URL=XXXXXXX.confluent.cloud:9092
BROKER_KEY=XXXXXXXXXXXXXX
BROKER_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

SCHEMA_REGISTRY_ENDPOINT=https://XXXXXXX.confluent.cloud
SCHEMA_REGISTRY_KEY=XXXXXXXXXXXXXX
SCHEMA_REGISTRY_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# you can test credentials with a command:
# source .env && curl -u $SCHEMA_REGISTRY_KEY:$SCHEMA_REGISTRY_SECRET $SCHEMA_REGISTRY_ENDPOINT/subjects
